---
const { bgColor } = Astro.props;
---

<!-- Be sure to use this with a layout container that is full-width on mobile -->
<div class={`overflow-hidden bg-${bgColor} shadow`}>
  <div class="px-4 py-5 sm:p-6">
    <slot />
  </div>
</div>
