---
import Container from "../layouts/Container.astro";
import wirePhoneDash from "/Rectangle-594.png";
import badge from "/Group-1675.png";
---

<Container bgColor="beige-nounours">
  <div
    class="grid grid-cols-2 gap-4 bg-beige-nounours"
    style="height: 700px; margin-top: 90px"
  >
    <div class="ml-12">
      <img
        class="absolute"
        style="top: 2191px"
        src={wirePhoneDash}
        alt="wire-maps"
      />
      <img
        class="relative z-10"
        style="left: 245px; top: -138px"
        src={badge}
        alt="wire-asso3"
      />
    </div>
    <div class="sm:text-center lg:text-left">
      <h2
        class="text-4xl mt-3 font-bold tracking-tight text-black sm:text-5xl md:text-4xl"
      >
        <span class="block xl:inline">Des actes récompensés</span>
      </h2>
      <p
        class="mt-3 text-base text-black sm:mx-auto sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl lg:mx-0"
      >
        Et parce que, main dans la main, on va plus loin, grâce à nos
        partenaires, tout aussi vertueux, tes efforts seront récompensés via des
        badges et bons d’achats. Pour tes heures d’engagement, tu recevras un
        bon échange pour consommer plus juste, plus local, plus durable.
      </p>
      <span class="font-bold pt-2">
        Et voilà qu’en un tournemain, tu construis demain.</span
      >
      <div class="mt-8 sm:mt-32 sm:flex sm:justify-center lg:justify-start">
        <button
          type="button"
          class="inline-flex items-center rounded-md border border-transparent bg-green-sapin px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >
          Démarrer l’expérience
          <svg
            class="ml-3 -mr-1 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
          </svg>
        </button>
      </div>
    </div>
    <svg
      width="989"
      height="518"
      viewBox="0 0 989 518"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute"
      style="left: 458px; top: 2665px;"
    >
      <path
        d="M141.697 1.99998C218.986 74.0889 201.369 151.975 160.025 264.186C133.94 335.024 87.993 421.775 165.992 421.775H683.856C692.75 421.775 699.967 414.558 699.967 405.664V244.977C699.967 222.728 718.011 204.713 740.232 204.713H985.368"
        stroke="#458966"
        stroke-opacity="0.6"
        stroke-width="3"
        stroke-miterlimit="10"></path>
      <path
        d="M111.634 2.00075C191.026 81.0798 174.517 153.197 129.962 264.186C97.0288 346.22 68.5853 444.309 135.929 444.309H701.303C714.658 444.309 725.456 433.483 725.456 420.156V261.089C725.456 243.301 739.89 228.866 757.678 228.866H985.879"
        stroke="#458966"
        stroke-opacity="0.6"
        stroke-width="3"
        stroke-miterlimit="10"></path>
      <path
        d="M82.4521 2.00141C160.224 76.0794 151.018 152.8 100.78 264.187C61.0272 352.33 45.7683 468.491 114.817 468.491H722.074C739.862 468.491 754.297 454.056 754.297 436.268V280.412C754.297 267.057 765.123 256.259 778.45 256.259H984.118"
        stroke="#458966"
        stroke-opacity="0.6"
        stroke-width="3"
        stroke-miterlimit="10"></path>
      <path
        d="M54.7177 2.00147C127.062 78.0685 128.227 155.159 73.0454 264.187C18.9716 371.028 22.9497 492.644 91.089 492.644H742.646C764.895 492.644 782.91 474.6 782.91 452.38V297.347C782.91 288.453 790.127 281.236 799.021 281.236H988.578"
        stroke="#458966"
        stroke-opacity="0.6"
        stroke-width="3"
        stroke-miterlimit="10"></path>
      <path
        d="M26.0478 2.00038C97.0569 80.0849 103.763 157.402 44.3754 264.186C-21.8032 383.16 -7.45357 516 66.4539 516H760.69C787.372 516 809.024 494.376 809.024 467.666V313.429C809.024 308.968 812.633 305.388 817.065 305.388H988.095"
        stroke="#458966"
        stroke-opacity="0.6"
        stroke-width="3"
        stroke-miterlimit="10"></path>
      <path
        d="M26.0478 2.00037C97.0569 80.0849 103.763 157.402 44.3754 264.186C-21.8032 383.16 -7.45357 516 66.4539 516H760.69C787.372 516 809.024 494.376 809.024 467.666V313.429C809.024 308.968 812.633 305.388 817.065 305.388H988.095"
        stroke="#458966"
        stroke-opacity="0.6"
        stroke-width="3"
        stroke-miterlimit="10"></path>
    </svg>
  </div>
</Container>
