---
import Container from "../layouts/Container.astro";
---

<Container bgColor="white">
  <div style="height:665px">
    <ul role="list" class="flex justify-center" style="margin-top:160px;">
      <li
        class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow drop-shadow-lg"
        style="width: 300px;height:380px;margin-right:20px;"
      >
        <div class="flex flex-1 flex-col p-8">
          <img
            class="mx-auto h-32 w-32 flex-shrink-0 rounded-full"
            src="/image-13.png"
            alt=""
          />
          <h3 class="mt-6 text-lg" style="font-size: 22px;">
            <bold>Baptiste</bold>, 25 ans
          </h3>
          <dl class="mt-1 flex flex-grow flex-col justify-between">
            <dt class="sr-only">Title</dt>
            <dd
              class="text-sm"
              style="font-style: light;font-size:18px;color:#3F3F3F;"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              semper aliquam nisi, sed pharetra nisl sagittis rutrum.
            </dd>
          </dl>
        </div>
      </li>
      <li
        class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow drop-shadow-lg"
        style="width: 300px;height:380px;margin-right:20px;"
      >
        <div class="flex flex-1 flex-col p-8">
          <img
            class="mx-auto h-32 w-32 flex-shrink-0 rounded-full"
            src="/image-14.png"
            alt=""
          />
          <h3 class="mt-6 text-lg" style="font-size: 22px;">
            <bold>Pascale</bold>, 46 ans
          </h3>
          <dl class="mt-1 flex flex-grow flex-col justify-between">
            <dt class="sr-only">Title</dt>
            <dd
              class="text-sm"
              style="font-style: light;font-size:18px;color:#3F3F3F;"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              semper aliquam nisi, sed pharetra nisl sagittis rutrum.
            </dd>
          </dl>
        </div>
      </li>
      <li
        class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow drop-shadow-lg"
        style="width: 300px;height:380px"
      >
        <div class="flex flex-1 flex-col p-8">
          <img
            class="mx-auto h-32 w-32 flex-shrink-0 rounded-full"
            src="/image-17.png"
            alt="persona"
          />
          <h3 class="mt-6 text-lg" style="font-size: 22px;">
            <bold>Benoit</bold>, 19 ans
          </h3>
          <dl class="mt-1 flex flex-grow flex-col justify-between">
            <dt class="sr-only">Title</dt>
            <dd
              class="text-sm"
              style="font-style: light;font-size:18px;color:#3F3F3F;"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              semper aliquam nisi, sed pharetra nisl sagittis rutrum.
            </dd>
          </dl>
        </div>
      </li>

      <!-- More people... -->
    </ul>
  </div>
</Container>
